<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>05 product</title>
    <style>
      img {
        width: 200px;
      }
      .productContainer {
        display: flex;
        flex-wrap: wrap;
      }
      .productContainer > div {
        margin: 10px;
        width: 250px;
      }
      h2 {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header>
        Search: <input type="text" v-model="search" />
        <br />
        Price between NT$ <input id="min" type="number" v-model="min" /> and NT$
        <input id="max" type="number" v-model="max" />
      </header>
      <div v-if="load">Loading</div>
      <div v-else class="productContainer">
        <div class="product-item" v-for="(item, index) in product" :key="item.id">
          <h3>{{item.title}}</h3>
          <img :src="item.image" :alt="item.title" />
          <p>{{parsePrice(item.price)}}</p>
          <div>
            <button @click="reduceCount(index)">-</button>
            <input type="number" min="0" v-model.number="count[index]" />
            <button @click="addCount(index)">+</button>
          </div>
        </div>
      </div>
      <h2>Total: {{parsePrice(total)}}</h2>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            search: "",
            min: 0,
            max: 0,
            load: false,
            // total: 0,
            source: [],
            // product: [],
            count: [],
          };
        },
        // mounted --> 渲染完
        // mounted() {},
        // computed --> 不帶參數、有回傳值
        computed: {
          product() {
            let cache = this.source;
            // 篩選最低價格
            if (this.min > 0) {
              cache = cache.filter((item) => {
                return item.price > this.min;
              });
            }
            // 篩選最高價格
            if (this.max > 0) {
              cache = cache.filter((item) => {
                return item.price < this.max;
              });
            }
            // 篩選相符標題
            if (this.search !== "") {
              cache = cache.filter((item) => {
                return item.title.includes(this.search);
              });
            }
            return cache;
          },
          total() {
            if (this.product.length > 0) {
              let total = 0;
              for (const countIndex in this.product) {
                total += this.count[countIndex] * this.product[countIndex]["price"];
              }
              return parseInt(total);
            } else {
              return 0;
            }
          },
        },
        // watch --> 監聽 data 或 computed
        watch: {
          total: {
            handler: function (newVal, oldVal) {
              if (newVal > 1000) {
                alert("You're gonna be broke until payday.");
              }
            },
            // 深度監聽（預設 false） --> 會影響效能，平時可以關閉
            // deep: true,
          },
        },
        // methods --> 可以帶參數
        methods: {
          parsePrice(price) {
            return `NT$${parseInt(price * 33)}`;
          },
          getResource() {
            this.load = true;
            fetch("https://fakestoreapi.com/products")
              .then((res) => res.json())
              .then((json) => {
                this.source = json;
                // 初始化商品數量
                for (item in this.product) {
                  this.count.push(0);
                }
                this.load = false;
              });
          },
          addCount(index) {
            this.count[index] += 1;
            // this.sumTotal();
          },
          reduceCount(index) {
            if (this.count[index] <= 0) return;
            this.count[index] -= 1;
            // this.sumTotal();
          },
          // sumTotal() {
          //   this.total = 0;
          //   for (const countIndex in this.product) {
          //     this.total += this.count[countIndex] * this.product[countIndex];
          //   }
          //   // 取正整數
          //   this.total = parseInt(this.total);
          // },
        },
        // created --> Vue 實體被建立完
        created() {
          this.getResource();
        },
      }).mount("#app");
    </script>
  </body>
</html>
